.carrusel{
    display: flex;
    flex-direction: column; 
    margin-bottom: 30px;

}

.icon {
    width: 15%;
    height: 15%;
    margin-top: 35px;
    margin-left: 20%;
    margin-bottom: 5%;
}
.txt {
    font-size: 2rem;
    color: black;
    margin-left: 5%;
    margin-bottom: 5%;;    
    font-weight: bold;
}

h2 {
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 45%;
    color: #43474b;
    margin-bottom: 20px;
}
.txt_skill{
    margin-top: 2%;
}
@media (max-width: 768px) {
    .txt {
        font-size: 1.5rem;
        margin-left: 30%;
    }
    .icon{
        margin-bottom: 45px;
    }
    h2{
        margin-left: 30%;
    }
}