.Portfolio {
  position: relative;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1.5fr);
  grid-template-rows: repeat(3, 3fr);
  grid-column-gap: 5px;
  grid-row-gap: 6px;
}
.Portfolio .box {
  border-radius: 15px;
  position: relative;
  height: 500px;
}
.Portfolio .box:hover {
  background: none;
  transform: translateY(-0);
}

.Portfolio .img {
  height: 50%;
  overflow: hidden;
  transition: 0.5s;
}
.Portfolio img {
  width: 80%;
  border-radius: 10px;
  transition: 0.5s;
  margin-left: 10%;
  margin-top: 5%;
}
.Portfolio .box .img:hover img {
  transform: scale(1.1);
}
.Portfolio .category {
  margin: 0 0 30px 0;
  text-transform: uppercase;
}
.Portfolio .category span {
  color: #ff014f;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 1000;
  margin-top: 5%;
}
.Portfolio .arrow {
  position: absolute;
  right: 30px;
  bottom: 11%;
  transform: rotate(-45deg);
  color: #ff014f;
  opacity: 0;
  transition: 0.5s;
}
.Portfolio .title:hover .arrow {
  opacity: 1;
}
.Portfolio h2 {
  font-size: 18px;
  transition: 0.5s;
  padding-bottom: 30px;
  margin-left: 30%;
}
.Portfolio .box:hover h2 {
  color: #ff014f;
}
.Portfolio .box:hover {
  color: black;
}
.txt_porta{
  margin-bottom: 4%;
}
